{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css" media="screen">
{% endblock %}
{% block body %}
    <div id="login-page-container">
        <h1>{{ title|raw }}</h1>
        {% if error is not empty %}
            <div id="error-message">{{ error }}</div>
        {% endif %}
        <div class="login-page">
            <div class="form">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}